<div class="container-fluid" style="background: linear-gradient(rgb(143, 148, 242), rgb(74, 74, 245));">
  <div class="container">
    <nav class="navbar navbar-expand-lg  bg-transparent">
      <div class="container-fluid bg-transparent">
        <a class="navbar-brand text-primary fw-bolder fs-3" href="#">TechGears</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link fw-bold me-5" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold me-5" href="#">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold me-5" href="#">About</a>
            </li>
            <li class="nav-item">
              <button class="btn btn-primary fw-bold px-4">Contact</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="container">
    <div class="row row-cols-12" style="height: 660px;">
      <div class="home1 d-flex w-100 align-items-center" >
        <div>
          <p><span class="fw-bolder text-primary" style="font-size: 84px;">Discover</span>the Future of Tech</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius dolore, quisquam amet labore neque ipsa. Consequatur accusamus fuga ipsam iste.</p>
          <button class="btn btn-primary">Shop Now</button>
        </div>
      </div>
      <!-- <div class="home2 d-flex w-50 h-100 align-items-center">
        <img src="https://p1.hiclipart.com/preview/992/9/219/teacher-technology-education-educational-technology-technology-education-science-and-technology-sharing-circle-png-clipart.jpg" alt="">
      </div> -->
    </div>
  </div>
</div>